body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #42455a;
}

.container{
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-family: sans-serif;
  width:60%;
  background: #4c6c96;
  border-radius: 0px 0px 100px 100px;
  position: relative;
}
.active {
  text-transform: uppercase;
  color: #19dafa !important
}
.menu a{
  position: relative;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}
.menu a:hover{
  color: #cae5ff;
  margin-top: -5px;
}
.menu ul{
  position: relative;
  font-family: sans-serif;
  display: inline-flex;
  margin: 50px;
  padding: 0
  list-style: none;
}
.menu ul li{
  position: relative;
  display: inline-flex;
  font-family: sans-serif;
  margin: 0 20px;
  padding: 0
  color: #b2b1b1;
  cursor: pointer;
}
.tab{
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #fff;
}
.body h1 {
  font-size: 43px;
  color: #fff;
  position: relative;
  margin-left: 100px;

}
.body p {
  position: relative;
  margin-left: 100px;
  color: #919191;
}
.Definitions {
  color: #fff
}
.example::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: none;
}
